//VARIABLES
$regularfont: 'AvenirRegular';
$black: #323232;
$white: #e1e1e1;
$alabaster: #fafafa;
$mercury: #e1e1e1;

@font-face {
  font-family: 'AvenirRegular';
  src: url('../../../assets/fonts/regular.otf') format('oft');
}

body {
  margin: 0;
  color: $black;
}


  .WarehouseList {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    margin: 0 6%;
    justify-content: center;
  
    .WarehouseList__header {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
  
      .header__h1 {
        font-size: 1.9rem;
        margin: 10% 0;
      }
  
      .header__search {
        background-image: url('../../../assets/logos/Icon-search.svg');
        background-color: $alabaster;
        background-size: 10%;
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 15px;
        margin: 0 0 10% 0;
        height: 40px;
        width: 200px;
        padding: 2.5% 7%;
        outline: none;
        border: 2px solid $mercury;
        border-radius: 3px;
        text-indent: 30px;
        font-size: 16px;
        color: $black;
      }
    }
  }
  
  .WarehouseList__table {
    display: flex;
    flex-flow: column nowrap;
  
    .table__header {
      display: none;
      margin-right: 5%;
    }
  
    tbody {
      .table__row {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        width: 125%;
        font-size: 0.8rem;
        margin: 2% 0 8% 0;
        padding-bottom: 8%;
        border-bottom: 2px solid $alabaster;
  
        div {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          font-size: 0.8rem;
          margin: 3% 0%;
  
          .warehouseName {
            font-weight: bold;
            font-size: 0.9rem;
          }
  
          .contact {
            font-style: italic;
          }
  
          .arrow-mobile {
            position: relative;
            left: 80px;
            bottom: 20px;
          }

          .arrow-desktop {
            display: none;
          }
        }
      }
    }
  }

@media (min-width: 750px) {
  .WarehouseList {
    display: flex;
    flex-flow: column nowrap;
    width: 93%;
    margin: 0 4%;
    justify-content: center;

    .WarehouseList__header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 4% 0;

      .header__h1 {
        font-size: 2.3rem;
        margin: 0;
      }

      .header__search {
        background-image: url('../../../assets/logos/Icon-search.svg');
        background-color: $alabaster;
        background-size: 8%;
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 15px;
        margin: 0;
        height: 15px;
        width: 150px;
        padding: 2.5% 7%;
        outline: none;
        border: 2px solid $mercury;
        border-radius: 3px;
        text-indent: 0px;
        font-size: 15px;
        color: $black;
      }
    }
  }

  .WarehouseList__table {
    display: flex;
    flex-flow: column nowrap;

    .table__header {
      display: none;
      margin-right: 5%;
    }

    tbody {
      .table__row {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        width: 100%;
        font-size: 0.8rem;
        margin: 2% 0 2% 0;
        padding-bottom: 2%;
        border-bottom: 2px solid $alabaster;

        div {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          font-size: 0.9rem;
          margin: 4% 0 0 0;

          .warehouseName {
            font-weight: bold;
            font-size: 1rem;
          }

          .contact {
            font-style: italic;
          }

          .arrow-mobile {
            position: relative;
            left: 500px;
            bottom: 20px;
          }

          .arrow-desktop {
            display: none;
          }

          &:nth-of-type(n + 3) {
            margin-left: 20%;
          }
        }
        .warehouseMainInfo {
          margin: 0 65% 0 0;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .WarehouseList {
    width: 75%;
    margin: 0 12%;

    .WarehouseList__header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 4% 0;

      .header__h1 {
        font-size: 2.3rem;
        margin: 0;
      }

      .header__search {
        background-image: url('../../../assets/logos/Icon-search.svg');
        background-color: $alabaster;
        background-size: 8%;
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 15px;
        margin: 0;
        width: 180px;
        padding: 1.5% 4%;
        outline: none;
        border: 2px solid $mercury;
        border-radius: 3px;
        text-indent: 0px;
        font-size: 15px;
        color: $black;
      }
    }
  }

  .WarehouseList__table {
    display: flex;
    flex-flow: column nowrap;
    align-items: space-around;
    width: 95%;

    .table__header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin: 0;
      color: $mercury;
      font-size: .9rem;
      // width: 90%;

      th {
        margin: 0 0 0 0%;

        &:nth-of-type(1) {
          margin-left: 0;
        }
      }
      
    }

    tbody {
      .table__row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        // width: 90%;
        font-size: 0.8rem;
        margin: 2% 0 2% 0;
        padding-bottom: 2%;
        border-bottom: 2px solid $alabaster;

        div {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: flex-start;
          font-size: 0.9rem;
          margin: 0% 0 0 0;
          // width: 100%;

          .warehouseName {
            font-weight: bold;
            font-size: 1rem;
          }

          .contact {
            font-style: italic;
          }

          .arrow-mobile {
            display: none;
          }

          .arrow-desktop {
            display: block;
            position: relative;
          }

          &:nth-of-type(n + 3) {
            margin: 0 0 0 0;
          }
        }
        .warehouseMainInfo {
          display: flex;
          flex-flow: column nowrap;
          margin: 0 0 0 0;
        }
        .categoryInfo {
          display: flex;
          
          .arrow-desktop {
            position: relative;
            left: 50px;
          }

        }
      }
    }
  }
}

