/*Global*/

.overlay {
  font-family: Helvetica;
  background-color: grey;
  position: fixed;
  top: -10px;
  width: 100%;
  height: 1000px;
}
.modal {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
/*Modal Container*/

.modal-content {
  top: 0px;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  background-color: white;
  position: fixed;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  :-webkit-input-placeholder {
    font-family: Helvetica, sans-serif;
    font-size: 0.75em;
    // font-family: $regularfont;
  }
  select {
    font-size: 1.3em;
    margin-bottom: 24px;
    border: none;
    padding-right: 16px;
  }

  input {
    width: 100%;
    height: 48px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.3em;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
  }

  textarea {
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
    border: none;
    margin-bottom: 32px;
    font-size: 18px;
  }

  .flex-column button {
    height: 48px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #002f5f;
    border: none;
    color: white;
    font-size: 15px;
  }
  button.cancel {
    background-color: white;
    color: #002f5f;
    border: none;
  }

  select {
    width: 100%;
    height: 48px;
  }
  h5 {
    width: auto;
    margin-top: 0px;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    color: lightgrey;
    font-size: 12px;
  }
  h3 {
    display: flex;
    align-content: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 30px;
    color: #2a3439;
  }
  input {
    margin-bottom: 24px;
    background-color: rgb(248, 248, 248);
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.spacebetween {
  justify-content: space-between;
  align-items: center;
}

.react-switch {
  margin-right: 15px;
}

/*Media Query*/

@media (min-width: 500px) {
  .modal-content {
    width: 525px;
    border-radius: 4px;
    top: 25%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;

    input {
      width: 245px;
    }

    .flex-column {
      width: 245px;
    }
    .flex-wrap {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
    .flex-column .button {
      flex-direction: row-reverse;
      padding-bottom: 15px;
      width: 400px;
    }
    .movedatbutton {
      margin-left: 130px;
    }
  }
}
