@media (min-width: 320px) and (max-width: 767px) {
  .inventoryList__container {
    color: #323232;
    background-color: white;
    margin: 0px 16px;
  }
  .inventoryList__container .inventoryList__title {
    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }
  .inventoryList__container .searchBar__container {
    padding: 0px 0px;
  }
  .inventoryList__container .searchBar__container .searchBar {
    width: 288px;
  }
  .inventoryList__container .searchBar__container .searchBar .searchBar__input {
    height: 48px;
    width: 240px;
    font-size: 15px;
    background-image: url("../../assets/icons/Icon-search.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: #FAFAFA;
    text-indent: 25px;
    float: left;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
  }
  .inventoryList__container .inventoryList__table .inventoryList__th {
    color: #AFAFAF;
    display: none;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container {
    display: inline-block;
    background-color: white;
    border-bottom: 1px solid #E1E1E1;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow {
    vertical-align: middle;
    display: table-cell;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__title {
    color: #AFAFAF;
    float: left;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .remove__item__button {
    background-image: url("../../assets/icons/Icon-kebab-default.svg");
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    height: 30px;
    float: right;
    position: relative;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .popup__container {
    visibility: visible;
    position: relative;
    border: 1px solid #E1E1E1;
    height: 40px;
    width: 150px;
    text-align: center;
    float: left;
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 4px;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .popup__container .popup__text {
    margin: 10px 0px 0px 10px;
    text-align: left;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__name {
    font-size: 18px;
    line-height: 24px;
    clear: both;
    text-align: left;
    display: block;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__description {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    display: block;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__lastOrdered {
    color: #AFAFAF;
    text-align: left;
    display: block;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .lastOrdered__date {
    text-align: left;
    display: block;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__locationTitle {
    color: #AFAFAF;
    text-align: left;
    display: block;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__location {
    text-align: left;
    display: block;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__quantityTitle {
    color: #AFAFAF;
    text-align: left;
    display: block;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__quantity {
    text-align: left;
    display: block;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__statusTitle {
    color: #AFAFAF;
    text-align: left;
    display: block;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__status {
    text-align: left;
    display: block;
  }
  .inventoryList__container .add__inventoryItem__button__container {
    position: fixed;
    right: 0;
    top: 0;
    margin: 400px 76px 0px 0px;
    background-color: darkblue;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-image: url("../../assets/icons/Icon-add.svg");
    background-repeat: no-repeat;
    background-position: center;
    float: right;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .inventoryList__container {
    color: #323232;
    background-color: white;
    margin: 0px 16px;
  }
  .inventoryList__container .inventoryList__title {
    font-size: 32px;
    line-height: 32px;
    text-align: left;
    display: inline;
    float: left;
    padding: 20px 0px 0px 0px;
  }
  .inventoryList__container .searchBar__container {
    padding: 40px 0px 0px 0px;
    display: inline-block;
    float: right;
  }
  .inventoryList__container .searchBar__container .searchBar {
    width: 240px;
  }
  .inventoryList__container .searchBar__container .searchBar .searchBar__input {
    height: 48px;
    width: 240px;
    font-size: 15px;
    background-image: url("../../assets/icons/Icon-search.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: #FAFAFA;
    text-indent: 25px;
    float: left;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
  }
  .inventoryList__container .inventoryList__table {
    display: inline-block;
  }
  .inventoryList__container .inventoryList__table .inventoryList__th {
    color: #AFAFAF;
    display: inline-block;
    float: left;
    padding-right: 40px;
  }
  .inventoryList__container .inventoryList__table .inventoryList__th.item {
    padding: 2px 175px 0px 5px;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container {
    display: block;
    background-color: white;
    border-bottom: 1px solid #E1E1E1;
    width: 720px;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__title {
    color: #AFAFAF;
    float: left;
    display: none;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .remove__item__button {
    background-image: url("../../assets/icons/Icon-kebab-default.svg");
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    height: 30px;
    float: right;
    position: relative;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .popup__container {
    visibility: visible;
    position: relative;
    border: 1px solid #E1E1E1;
    height: 40px;
    width: 150px;
    text-align: center;
    float: left;
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 4px;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .popup__container .popup__text {
    margin: 10px 0px 0px 10px;
    text-align: left;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__name {
    font-size: 18px;
    line-height: 24px;
    clear: both;
    text-align: left;
    display: inline-block;
    float: left;
    font-weight: bold;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__description {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: 200px;
    display: block;
    margin: 0;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__lastOrdered {
    color: #AFAFAF;
    text-align: left;
    display: none;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .lastOrdered__date {
    text-align: left;
    padding: 0px 85px 0px 10px;
    overflow: hidden;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__locationTitle {
    color: #AFAFAF;
    text-align: left;
    display: none;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__location {
    text-align: left;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__quantityTitle {
    color: #AFAFAF;
    text-align: left;
    display: none;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__quantity {
    text-align: left;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__statusTitle {
    color: #AFAFAF;
    text-align: left;
    display: none;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__status {
    text-align: left;
  }
  .inventoryList__container .add__inventoryItem__button__container {
    position: fixed;
    right: 0;
    top: 0;
    margin: 400px 16px 0px 0px;
    background-color: darkblue;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-image: url("../../assets/icons/Icon-add.svg");
    background-repeat: no-repeat;
    background-position: center;
    float: right;
  }
}

@media (min-width: 1440px) {
  .inventoryList__container {
    color: #323232;
    background-color: white;
    margin: 0px 16px;
  }
  .inventoryList__container .inventoryList__title {
    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }
  .inventoryList__container .searchBar__container {
    padding: 0px 0px;
  }
  .inventoryList__container .searchBar__container .searchBar {
    width: 288px;
  }
  .inventoryList__container .searchBar__container .searchBar .searchBar__input {
    height: 48px;
    width: 240px;
    font-size: 15px;
    background-image: url("../../assets/icons/Icon-search.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: #FAFAFA;
    text-indent: 25px;
    float: left;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
  }
  .inventoryList__container .inventoryList__table {
    display: inline-block;
  }
  .inventoryList__container .inventoryList__table .inventoryList__th {
    color: #AFAFAF;
    display: inline-block;
    float: left;
    padding-right: 40px;
  }
  .inventoryList__container .inventoryList__table .inventoryList__th.item {
    padding: 2px 175px 0px 5px;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container {
    display: block;
    background-color: white;
    border-bottom: 1px solid #E1E1E1;
    width: 720px;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__title {
    color: #AFAFAF;
    float: left;
    display: none;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .remove__item__button {
    background-image: url("../../assets/icons/Icon-kebab-default.svg");
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    height: 30px;
    float: right;
    position: relative;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .popup__container {
    visibility: visible;
    position: relative;
    border: 1px solid #E1E1E1;
    height: 40px;
    width: 150px;
    text-align: center;
    float: left;
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 4px;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .popup__container .popup__text {
    margin: 10px 0px 0px 10px;
    text-align: left;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__name {
    font-size: 18px;
    line-height: 24px;
    clear: both;
    text-align: left;
    display: inline-block;
    float: left;
    font-weight: bold;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__description {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: 200px;
    display: block;
    margin: 0;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__lastOrdered {
    color: #AFAFAF;
    text-align: left;
    display: none;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .lastOrdered__date {
    text-align: left;
    padding: 0px 85px 0px 10px;
    overflow: hidden;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__locationTitle {
    color: #AFAFAF;
    text-align: left;
    display: none;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__location {
    text-align: left;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__quantityTitle {
    color: #AFAFAF;
    text-align: left;
    display: none;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__quantity {
    text-align: left;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__statusTitle {
    color: #AFAFAF;
    text-align: left;
    display: none;
  }
  .inventoryList__container .inventoryList__table .inventoryItem__container .inventoryItem__tableRow .item__status {
    text-align: left;
  }
  .inventoryList__container .add__inventoryItem__button__container {
    position: fixed;
    right: 0;
    top: 0;
    margin: 400px 16px 0px 0px;
    background-color: darkblue;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-image: url("../../assets/icons/Icon-add.svg");
    background-repeat: no-repeat;
    background-position: center;
    float: right;
  }
}
/*# sourceMappingURL=Inventory.css.map */