@media (min-width: 900px) {
  .WarehouseList {
    width: 75%;
    margin: 0 12%;

    .WarehouseList__header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 4% 0;

      .header__h1 {
        font-size: 2.3rem;
        margin: 0;
      }

      .header__search {
        margin: 0;
        width: 180px;
        padding: 0.5% 5%;
        outline: none;
        border-radius: 3px;
        text-indent: 0px;
        font-size: 17px;
      }
    }

    .WarehouseList__table {
      display: flex;
      flex-flow: column nowrap;
      align-items: space-around;
      width: 95%;
      text-align: start;

      .table__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: 0.9rem;
        font-family: "AvenierBold";
        color: $text-grey;

        th {
          margin-left: 5%;

          &:nth-of-type(1) {
            margin-left: 0;
            padding-left: 0;
          }
          &:nth-of-type(2) {
            margin-left: -8%;
            padding-left: 17%;
          }
          &:nth-of-type(3) {
            margin-left: 0;
            padding-left: 12%;
          }
          &:nth-of-type(4) {
            margin-left: 0;
            padding-right: 13%;
          }
        }
      }

      tbody {
        .table__row {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          font-size: 0.8rem;
          width: 105%;
          margin: 2% 0 2% 0;
          padding-bottom: 2%;

          div {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            font-size: 0.9rem;
            margin: 0 0 0 0;
            width: 20%;

            .warehouseName {
              font-weight: bold;
              font-size: 1rem;
            }

            .contact {
              font-style: italic;
            }

            .arrow-mobile {
              display: none;
            }

            &:nth-of-type(n + 3) {
              margin: 0 0 0 0;
            }
          }

          .warehouseMainInfo {
            display: flex;
            flex-flow: column nowrap;
            margin: 0 0 0 0;
          }

          .categoryInfo {
            padding-top: 1.5%;
          }
        }
      }
    }
    .flex-row {
      .arrow-mobile {
        margin-top: 40px;
        margin-left: 10px;
      }
    }
    .add__inventoryItem__button__container {
      right: 100px;
      top: 650px;
    }
  }
}
