@media (min-width: 900px) {
  .WarehouseList {
    width: 75%;
    margin: 0 12%;
  }
  .WarehouseList .WarehouseList__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 4% 0;
  }
  .WarehouseList .WarehouseList__header .header__h1 {
    font-size: 2.3rem;
    margin: 0;
  }
  .WarehouseList .WarehouseList__header .header__search {
    margin: 0;
    width: 180px;
    padding: 0.5% 4%;
    outline: none;
    border-radius: 3px;
    text-indent: 0px;
    font-size: 15px;
  }
  .WarehouseList .WarehouseList__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    width: 95%;
    text-align: start;
  }
  .WarehouseList .WarehouseList__table .table__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.9rem;
  }
  .WarehouseList .WarehouseList__table .table__header th {
    margin-left: 5%;
  }
  .WarehouseList .WarehouseList__table .table__header th:nth-of-type(1) {
    margin-left: 0;
    padding-left: 0;
  }
  .WarehouseList .WarehouseList__table .table__header th:nth-of-type(2) {
    margin-left: -8%;
    padding-left: 17%;
  }
  .WarehouseList .WarehouseList__table .table__header th:nth-of-type(3) {
    margin-left: 0;
    padding-left: 12%;
  }
  .WarehouseList .WarehouseList__table .table__header th:nth-of-type(4) {
    margin-left: 0;
    padding-right: 7%;
  }
  .WarehouseList .WarehouseList__table tbody .table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.8rem;
    width: 94%;
    margin: 2% 0 2% 0;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 0.9rem;
    margin: 0 0 0 0;
    width: 20%;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div .warehouseName {
    font-weight: bold;
    font-size: 1rem;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div .contact {
    font-style: italic;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div .arrow-mobile {
    display: none;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div:nth-of-type(n + 3) {
    margin: 0 0 0 0;
  }
  .WarehouseList .WarehouseList__table tbody .table__row .warehouseMainInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 0 0 0 0;
  }
  .WarehouseList .WarehouseList__table tbody .table__row .categoryInfo .arrow-desktop {
    display: block;
    position: relative;
    right: -120px;
    bottom: 20px;
  }
}
/*# sourceMappingURL=warehouse-desktop-view.css.map */