@import "../../../styles/variables";

.currentWarehouse__container {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  .flex {
    display: flex;
    flex-direction: row;
  }
  .current__table__row {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
    font-size: 0.8rem;
    padding-bottom: 8%;

    .currentWarehouse__title__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid #e1e1e1;

      .currentWarehouseName {
        padding-left: 15px;
        padding-bottom: 15px;
        margin: 0;
        font-family: "AvenierBold";
        font-size: 1.4rem;
      }
    }

    .currentWarehouse__address__title,
    .currentWarehouse__contact__title {
      color: $text-grey;
      font-family: "AvenierBold";
      margin: 0;
      margin-top: 20px;
      font-size: 0.8em;
    }

    .notgrey {
      color: black;
      margin-top: 20px;
      font-style: italic;
    }

    div {
      font-size: 0.8rem;
      width: 100%;

      .warehouseName {
        font-weight: bold;
        font-size: 0.9rem;
      }

      .contact {
        font-style: italic;
      }

      .current__arrow-mobile {
        position: relative;
        left: 0px;
        bottom: 4px;
      }

      .arrow-desktop {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .currentWarehouse__container {
    margin-top: 10%;
    .current__table__row {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      width: 100%;
      font-size: 0.8rem;
      padding-bottom: 6%;

      .currentWarehouseMainInfo {
        .currentWarehouse__title__container {
          display: flex;
          flex-direction: row;
          align-items: center;

          .currentWarehouseName {
            padding-left: 15px;
            padding-bottom: 15px;
            width: 92%;
            margin: 0;
            font-family: "AvenierBold";
            font-size: 1.4rem;
          }
        }

        .currentWarehouse__address__title,
        .currentWarehouse__contact__title {
          color: $text-grey;
          font-family: "AvenierBold";
          margin-top: 20px;
        }
      }

      div {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        font-size: 0.8rem;
        width: 100%;

        .warehouseName {
          font-weight: bold;
          font-size: 0.9rem;
        }

        .contact {
          font-style: italic;
        }

        .current__arrow-mobile {
          position: relative;
          left: 0px;
          bottom: 4px;
        }

        .arrow-desktop {
          display: none;
        }
      }
    }
  }
}
