@import '../../../styles/variables';

.currentWarehouse__container {
  .current__table__row {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 125%;
    font-size: 0.8rem;
    margin: 2% 0 0% 0;
    padding-bottom: 8%;

    .currentWarehouse__title__container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .currentWarehouseName {
        padding-left: 15px;
        padding-bottom: 15px;
        margin: 0;
        font-family: 'AvenierBold';
        font-size: 1.4rem;
      }
      .divider {
        display: none;
      }
    }

    .currentWarehouse__address__title,
    .currentWarehouse__contact__title {
      color: $text-grey;
      font-family: 'AvenierBold';
      margin: 0;
    }

    div {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      font-size: 0.8rem;
      margin: 3% 0%;

      .warehouseName {
        font-weight: bold;
        font-size: 0.9rem;
      }

      .contact {
        font-style: italic;
      }

      .current__arrow-mobile {
        position: relative;
        left: 0px;
        bottom: 4px;
      }

      .arrow-desktop {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .currentWarehouse__container {
    .current__table__row {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      width: 125%;
      font-size: 0.8rem;
      margin: 2% 0 0% 0;
      padding-bottom: 8%;

      .currentWarehouseMainInfo {
        .currentWarehouse__title__container {
          display: flex;
          flex-direction: row;
          align-items: center;

          .currentWarehouseName {
            padding-left: 15px;
            padding-bottom: 15px;
            width: 92%;
            margin: 0;
            font-family: 'AvenierBold';
            font-size: 1.4rem;
          }
          
          .divider {
            color: black;
            border-bottom: 2px solid $default-alabaster;
            height: 10%;
            width: 95%;
          }
        }

        .currentWarehouse__address__title,
        .currentWarehouse__contact__title {
          color: $text-grey;
          font-family: 'AvenierBold';
          margin: 0;
        }
      }

      div {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        font-size: 0.8rem;
        margin: 3% 0%;

        .warehouseName {
          font-weight: bold;
          font-size: 0.9rem;
        }

        .contact {
          font-style: italic;
        }

        .current__arrow-mobile {
          position: relative;
          left: 0px;
          bottom: 4px;
        }

        .arrow-desktop {
          display: none;
        }
      }
    }
  }
}
