/*VARIABLES*/
@font-face {
  font-family: "AvenierRegular";
  src: url("../../../assets/fonts/regular.otf");
}

@font-face {
  font-family: "AvenierBold";
  src: url("../../../assets/fonts/bold.otf");
}

@font-face {
  font-family: "AvenierDemi";
  src: url("../../../assets/fonts/demibold.otf");
}

body {
  margin: 0;
  color: #323232;
  font-family: "AvenierRegular";
}

.WarehouseList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 70%;
  margin: 0 6%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.WarehouseList .WarehouseList__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.WarehouseList .WarehouseList__header .header__h1 {
  font-family: "AvenierBold";
  font-size: 1.9rem;
  margin: 10% 0;
}

.WarehouseList .WarehouseList__header .header__search {
  background-image: url("../../../assets/logos/Icon-search.svg");
  background-color: #FAFAFA;
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 15px;
  margin: 0 0 10% 0;
  height: 40px;
  width: 200px;
  padding: 2.5% 7%;
  outline: none;
  border: 2px solid #E1E1E1;
  border-radius: 3px;
  text-indent: 30px;
  font-size: 16px;
  color: #323232;
}

.WarehouseList .WarehouseList__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.WarehouseList .WarehouseList__table .table__header {
  display: none;
}

.WarehouseList .WarehouseList__table tbody .table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 125%;
  font-size: 0.8rem;
  margin: 2% 0 8% 0;
  padding-bottom: 8%;
  border-bottom: 2px solid #FAFAFA;
}

.WarehouseList .WarehouseList__table tbody .table__row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0.8rem;
  margin: 3% 0%;
}

.WarehouseList .WarehouseList__table tbody .table__row div .warehouseName {
  font-weight: bold;
  font-size: 0.9rem;
}

.WarehouseList .WarehouseList__table tbody .table__row div .contact {
  font-style: italic;
}

.WarehouseList .WarehouseList__table tbody .table__row div .arrow-mobile {
  position: relative;
  left: 80px;
  bottom: 20px;
  z-index: -10;
}

.WarehouseList .WarehouseList__table tbody .table__row div .arrow-desktop {
  display: none;
}

.WarehouseList .add__inventoryItem__button__container {
  position: fixed;
  z-index: 7000;
  right: 0;
  top: 0;
  margin: 810px 16px 0px 0px;
  background-color: darkblue;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-image: url("../../../assets/icons/Icon-add.svg");
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}

@media (min-width: 700px) and (max-width: 889px) {
  .WarehouseList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 93%;
    margin: 0 4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .WarehouseList .WarehouseList__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 4% 0;
  }
  .WarehouseList .WarehouseList__header .header__h1 {
    font-size: 2.3rem;
    margin: 0;
  }
  .WarehouseList .WarehouseList__header .header__search {
    background-image: url("../../../assets/logos/Icon-search.svg");
    background-color: #FAFAFA;
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 15px;
    margin: 0;
    height: 15px;
    width: 150px;
    padding: 2.5% 7%;
    outline: none;
    border: 2px solid #AFAFAF;
    border-radius: 3px;
    text-indent: 0px;
    font-size: 15px;
    color: #323232;
  }
  .WarehouseList .WarehouseList__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .WarehouseList .WarehouseList__table .table__header {
    display: none;
    margin-right: 5%;
  }
  .WarehouseList .WarehouseList__table tbody .table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 92%;
    font-size: 0.8rem;
    margin: 2% 0 2% 0;
    padding-bottom: 2%;
    border-bottom: 2px solid #FAFAFA;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 0.9rem;
    margin: 4% 0 0 0;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div .warehouseName {
    font-weight: bold;
    font-size: 1rem;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div .contact {
    font-style: italic;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div .arrow-mobile {
    position: relative;
    left: 450px;
    bottom: 20px;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div:nth-of-type(n + 3) {
    margin-left: 20%;
  }
  .WarehouseList .WarehouseList__table tbody .table__row .warehouseMainInfo {
    margin: 0 65% 0 0;
  }
  .WarehouseList .WarehouseList__table tbody .table__row .categoryInfo {
    width: 25%;
  }
  .WarehouseList .WarehouseList__table tbody .table__row .categoryInfo .arrow-desktop {
    display: none;
  }
}

@media (min-width: 900px) {
  .WarehouseList {
    width: 75%;
    margin: 0 12%;
  }
  .WarehouseList .WarehouseList__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 4% 0;
  }
  .WarehouseList .WarehouseList__header .header__h1 {
    font-size: 2.3rem;
    margin: 0;
  }
  .WarehouseList .WarehouseList__header .header__search {
    margin: 0;
    width: 180px;
    padding: 0.5% 5%;
    outline: none;
    border-radius: 3px;
    text-indent: 0px;
    font-size: 17px;
  }
  .WarehouseList .WarehouseList__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    width: 95%;
    text-align: start;
  }
  .WarehouseList .WarehouseList__table .table__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.9rem;
    font-family: 'AvenierBold';
    color: #AFAFAF;
  }
  .WarehouseList .WarehouseList__table .table__header th {
    margin-left: 5%;
  }
  .WarehouseList .WarehouseList__table .table__header th:nth-of-type(1) {
    margin-left: 0;
    padding-left: 0;
  }
  .WarehouseList .WarehouseList__table .table__header th:nth-of-type(2) {
    margin-left: -8%;
    padding-left: 17%;
  }
  .WarehouseList .WarehouseList__table .table__header th:nth-of-type(3) {
    margin-left: 0;
    padding-left: 12%;
  }
  .WarehouseList .WarehouseList__table .table__header th:nth-of-type(4) {
    margin-left: 0;
    padding-right: 7%;
  }
  .WarehouseList .WarehouseList__table tbody .table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.8rem;
    width: 105%;
    margin: 2% 0 2% 0;
    padding-bottom: 2%;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 0.9rem;
    margin: 0 0 0 0;
    width: 20%;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div .warehouseName {
    font-weight: bold;
    font-size: 1rem;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div .contact {
    font-style: italic;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div .arrow-mobile {
    display: none;
  }
  .WarehouseList .WarehouseList__table tbody .table__row div:nth-of-type(n + 3) {
    margin: 0 0 0 0;
  }
  .WarehouseList .WarehouseList__table tbody .table__row .warehouseMainInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 0 0 0 0;
  }
  .WarehouseList .WarehouseList__table tbody .table__row .categoryInfo {
    padding-top: 1.5%;
  }
  .WarehouseList .WarehouseList__table tbody .table__row .categoryInfo .arrow-desktop {
    display: block;
    position: relative;
    right: -235px;
    bottom: 20px;
  }
}
/*# sourceMappingURL=warehouse.css.map */