/*Modal Container*/
.modal-content {
  margin-right: auto;
  margin-left: auto;
}
.modal {
  width: 100%;
  background-color: cornflowerblue;
  position: fixed;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  //display: none;
  input {
    width: 220px;
    height: 48px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.3em;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
  }

  .special {
    height: 80px;
  }
  .flex-column button {
    height: 48px;
    width: 220px;
    border-radius: 4px;
    box-sizing: border-box;
  }
  select {
    width: 220px;
    height: 48px;
  }
  h5 {
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-start;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-betweem {
  justify-content: space-between;
}
h3 {
  display: flex;
  align-content: flex-start;
}
