/*NAV BAR*/

/*variables*/
$regularfont: AvenirRegular;
@font-face {
  font-family: "AvenirRegular";
  src: url(../../assets/fonts/regular.otf) format('oft');
}


.navbar {
  background-color: #323232;
  font-family: $regularfont, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logo {
    padding: 16px 0;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
      
      span {
      margin: 0;
      width: 160px; 
      // font-size: 14px;
      line-height: 22px;
      font-weight: bold;
      color: #E1E1E1;
      padding-bottom: 16px;
      }

      span:hover {
        border-bottom: 4px solid white;
        color:#FFFFFF;
      }
    }
}

/*TABLET QUERIES*/
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    height: 80px;
    align-items: center;

      &__logo {
        padding: 0 24px;
      }

      &__links {
        justify-content: flex-start;
          span {
            padding: 0;
          }
      }
  }

  span:hover {
    padding: 30px 0px;
    border-bottom: 4px solid white;
  }
}

@media (min-width: 1440px) {
  .navbar{
    &__logo {
      padding: 0 56px 0 180px ;
    }
    
  }


}
