/*VARIABLES*/
$regularfont: AvenirRegular;
$boldfont: AvenirBold;
$demifont: AvenirDemi;
$default-black: #323232; //for paragraphs
$default-blue: #004892;
$default-darkblue: #002F5F;
$default-alabaster: #FAFAFA;
$text-background: rgb(102, 49, 49); // close to white
$text-grey: #AFAFAF; //silver
$text-lightgrey:#E1E1E1; 
$text-white: #FFFFFF;

